{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-sm">
			<p>This is just proof I, Alex Wendland, exist. This site contains information about me and acts as a database of my life experiences. Also, I am using it to try out some ideas.</p>
			<br>
			<p>I am a civil servant on the <a href="https://www.faststream.gov.uk/">Science and Engeeneering Fast Stream</a>. Previously, I did my PhD at the University of Warwick under the supervision of <a href="https://homepages.warwick.ac.uk/~maslar/"> Agelos Georgakopoulos</a>.</p>
			<br>
			<p>My interests are in programming and data. Infact I started this website to develop my python, javascript, HTML and SQL skills a little more. This shows my hand in the fact that I am a project based learner.</p>
			<br>
			<p>Next goal is to become more interesting so I have something more to put here.</p>
		</div>
		<div class="col-sm">
			<img src="static/img/Me.png" alt="Alex looking sexy">
		</div>	
	</div>
</div>

{% endblock %}
	