{% extends "base_academic.html" %}

{% block page_content %}

<h1>Awards and Grants</h1>

<p>Add something about how much I love being awarded things.</p>

{% if awards %}

    <style>
    .vl {
        border-left: 3px solid black;
    }
    .v2 {
        border-left: 10px solid white;
    }
    .right {
        text-align: right;
    }
    </style>

	{% for award in awards %}
		<div class="row">
			<div class="col s2"><div class="right">{{ award.date_obt }}</div></div>
			<div class="col s10"><div class="vl"> <div class="v2"> <b>{{ award.title }}</b>, <a href={{award.organisation_URL}}>{{ award.organisation_name }}</a>.<br>
			{{award.text}} </div></div></div>
		</div>
    {% endfor %}
{% else %}
    <p>Be better at getting stuff.</p>
{% endif %}
{% endblock %}
	