{% extends "base_academic.html" %}

{% block page_content %}

<h1>Talks</h1>

<p>Add something about how much I love talking here.</p>

{% if talks %}
    <style>
    .vl {
        border-left: 3px solid black;
    }
    .v2 {
        border-left: 10px solid white;
    }
    .right {
        text-align: right;
    }
    </style>
	
    {% for talk in talks %}
		<div class="row">
			<div class="col s2"><div class="right">{{talk.date_given}}</div></div>
			<div class="col s10"><div class="vl"> <div class="v2"> <b>{{talk.seminar_name}}, {{talk.location}}. </b>.<br>
			<a href="{% url 'academic:talk_detail' talk.id %}">{{talk.title}}</a></div></div></div>
		</div>
    {% endfor %}
{% else %}
    <p>No talks are available.</p>
{% endif %}
{% endblock %}
	