{% extends "base_academic.html" %}

{% block page_content %}

<h1>Talks</h1>

<p>Add something about how much I love talking here.</p>

{% if talks %}
	<style>
	.vl {
	  border-left: 3px solid black;
	}
	</style>
	
    {% for talk in talks %}
		<div class="row">
			<div class="col s2">{{talk.date_given}}</div>
			<div class="col s10"><div class="vl"> <span style="display:inline-block; width: 10px;"></span> <b>{{talk.seminar_name}}, {{talk.location}}. </b>.<br>
			<span style="display:inline-block; width: 10px;"></span> <a href="{% url 'academic:talk_detail' talk.id %}">{{talk.title}}</a></div></div>
		</div>
    {% endfor %}
{% else %}
    <p>No talks are available.</p>
{% endif %}
{% endblock %}
	