<!DOCTYPE html>
<html lang="en">
<head>
	<!-- MetaData-->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Alex Wendland</title>
	
    <!--- Materialise --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
   
    
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href={% url 'home:home'%} class="brand-logo">Alex Wendland</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href={% url 'academic:index'%}>Academic</a></li>
            </ul>
        </div>
        {% block bar_extension %}{% endblock %}
    </nav>
    
	<br>
	<div class="container">
	{% block page_content %}{% endblock %}
	</div>
    
    <!-- Materialise --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>